* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    display: block;
    background-color: #fff;
    font-family: sans-serif;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    font-weight: 600;
    text-transform: uppercase;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
}

h4 {
    text-transform: capitalize;
    font-weight: 200;
}

.header {
    background-color: #004aad;
    width: 100%;
    height: 220px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
}

.header h2 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}

.container {
    display: flex;
    justify-content: center;
    margin: 1em;
    padding: 1em;
}

.container-left {
    padding: 1em;
}

.container-right {
    padding: 1em;
}

.tech li {
    text-transform: capitalize;
}

.skills li {
    text-transform: capitalize;
}

.formation h3 {
    text-transform: uppercase;
}


#footer {
    background-color: #004aad;
    width: 100%;
    height: 60px;
    margin-top: 2em;
    margin-bottom: 1em;
}

@media (max-width: 700px) {
    .header h1 {
        font-size: 1.5em;
        text-align: center;
    }

    .header h2 {
        font-size: 0.75em;
        text-align: center;
    }

    .container {
        display: block;
    }
}